<%- include("partials/header"); -%>
    <h1><strong>Stats</strong></h1>
    <ul>
    <li><h3> <%=msg%> registered</h3></li>
    <li><h3> <%=msg1%> registered</h3></li>
    <li><h3> <%=msg2%> written</h3></li>
    <li><h3> <%=msg3%></h3></li>
    <li><h3> <%=msg4%></h3></li>
</ul>

    <p>If you cant see any data click on "Stats" again or refresh the page</p>
<%- include("partials/footer"); -%>
